<h1>stock</h1>
<!-- <hr /> -->
<table class="table">
  <tbody>
    <tr>
      <td>Street</td>
      <td id="stock--<%= @stock.id %>_name">
        <%= @stock.name %>
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td id="stock--<%= @stock.id %>_sku">
        <%= @stock.sku %>
      </td>
    </tr>
    <tr>
      <td>Province</td>
      <td id="stock--<%= @stock.id %>_sku">
        <%= @stock.sku %>
      </td>
    </tr>
  </tbody>
</table>
