<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
    <%= link_to "Inventory", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-target="#navbar-content">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Warehouse", warehouses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Stocks", stocks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
