<div class="container">
  <h1>Warehouse</h1>
  <%= link_to "Back to Warehouses", warehouses_path, class: 'btn btn-primary' %>

  <table class="table">
    <tbody>
      <tr>
        <td>Street</td>
        <td id="warehouse--<%= @warehouse.id %>_street">
          <%= @warehouse.street %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td id="warehouse--<%= @warehouse.id %>_city">
          <%= @warehouse.city %>
        </td>
      </tr>
      <tr>
        <td>Province</td>
        <td id="warehouse--<%= @warehouse.id %>_province">
          <%= @warehouse.province %>
        </td>
      </tr>
    </tbody>
  </table>
<div class="container">
  <%= react_component "Warehouse",
    {
      id: @warehouse.id,
      products: @products.as_json(only: %i[name id]),
      stocks: @warehouse.stocks.as_json(
        only: %i[id count],
        include: {
          product: {
            only: %i[sku name]
          }
        }
      )
    } %>
</div>
