<h1>Warehouse</h1>
<!-- <hr /> -->
<table class="table">
  <tbody>
    <tr>
      <td>Street</td>
      <td id="warehouse--<%= @warehouse.id %>_street">
        <%= @warehouse.street %>
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td id="warehouse--<%= @warehouse.id %>_city">
        <%= @warehouse.city %>
      </td>
    </tr>
    <tr>
      <td>Province</td>
      <td id="warehouse--<%= @warehouse.id %>_province">
        <%= @warehouse.province %>
      </td>
    </tr>
  </tbody>
</table>
