<div class="container">
  <h1>Warehouse</h1>
  <%= link_to "Back to Warehouses", warehouses_path, class: 'btn btn-primary' %>

  <table class="table">
    <tbody>
      <tr>
        <td>Street</td>
        <td id="warehouse--<%= @warehouse.id %>_street">
          <%= @warehouse.street %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td id="warehouse--<%= @warehouse.id %>_city">
          <%= @warehouse.city %>
        </td>
      </tr>
      <tr>
        <td>Province</td>
        <td id="warehouse--<%= @warehouse.id %>_province">
          <%= @warehouse.province %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= render '/stocks/form', warehouse: @warehouse, products: @products, stock: @stock %>

  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Inventory Count</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouse.products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= @warehouse.inventory_count(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
